*{
    margin: 0px;
    cursor:auto;
    cursor:pointer;
    cursor:url(../img/sdlay3.png),auto;
 }

body { 
    background-color: #9DC3C2;
    padding: 0px; 
    background-image: url(../img/sdapproach3.png);
    background-size: 50%;
   background-repeat: no-repeat;
   background-position: 0%;
} 

 nav {
    text-align: center;
    color:rgb(31, 23, 10);
    font-family: 'Noto Serif', serif;
    font-size:26px;
    
 }
 
 nav a{
    margin: 20px;
 }

.img2 img{
    width: 500px;
    height: 380px;
}

.img1 img{
    width: 300px;
    height:550px;
}


.main{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-left: 60%;
    width:35%;
}

 header {
    background-color:#77A6B6;
 }

p {
    color:rgb(31, 23, 10);
    font-family: 'Noto Serif', serif;
    font-size:18px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
 }

iframe {
    display: block;
    justify-content: flex-end;
    padding-left: 48%;
}
